<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
	<div class="mx-auto max-w-lg text-center">
		<h1 class="text-2xl font-bold sm:text-3xl">Create new voeux</h1>
	</div>

	<form action="" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
		<div>
			<label for="name" class="block text-sm font-medium text-gray-700"> Name </label>

			<div class="relative">
				<input id="name" type="text" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
					placeholder="E.g: My birthday preferences 🎉" />
			</div>
		</div>

		<div>
			<label for="description" class="block text-sm font-medium text-gray-700">Description</label>

			<textarea id="description" class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm" rows="4"
				placeholder="Enter any additional order notes..."></textarea>
		</div>
		<button type="submit" class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
			Crear
		</button>
	</form>
</div>