<ng-container *ngIf="this.userData()">
  <header>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Welcome Back, {{this.userData()}}</h1>

          <p class="mt-1.5 text-sm text-gray-500">Let's write a new voeux! 🎉</p>
        </div>

        <div class="mt-4 flex flex-col sm:mt-0 sm:flex-row sm:items-center">
          <button type="submit" (click)="signOut()"
            class="flex w-full justify-center rounded-lg px-3 py-3 text-sm text-gray-500 hover:bg-gray-50 hover:text-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 opacity-75" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
            </svg>

            <span class="absolute start-full top-1/2 ms-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white invisible group-hover:visible">
              Logout
            </span>
          </button>
        </div>
      </div>
    </div>
  </header>
</ng-container>
<div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
  <router-outlet></router-outlet>
</div>
